<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Estonia&family=Shalimar&family=Splash&family=Tapestry&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="./estilos.css">
        <link rel="shortcut icon" href="./proyectoImag/favicon.ico" type="image/x-icon">
        <title>ÉCLAT PARFUMERIE</title>
    </head>

    <body>
        <header id="idHeader">
        </header>

        <nav id="idNav">
        </nav>

        <main>
            <<div id="appMaq">
                <div v-if="cargando==false" class="contenedor">
                    <div v-for=" articulo of maq" class="tarjeta">
                        <img :src="articulo.imagen" alt="articulo.nombre">
                        <h2>{{articulo.nombre}}</h2>
                        <p class="detalle">{{articulo.descripcion}}</p> 
                        <p>Precio ${{articulo.precio}}</p> 
                        <a class="boton" href="">Comprar</a>
                    </div>
                </div>
                <div v-else  class="fondoCargando">
                    <div class="contenedorCargando">
                        <div class="cargando"></div> 
                        <div class="cargando2"></div> 
                    </div> 
                </div>
            </div>
        </main>

        <footer id="idFooter">
        </footer>

        <script src="./main.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./cargaproductos.js"></script>
    </body>
</html>
